<div class="row">
  <img class="img-responsive center-block" src="{{product.image}}" style="width: 250px;margin-bottom: 25px;">
  <div class="col-md-12">
    <h1>{{product.name}}</h1>
    <h2>{{product.price}}</h2>
  </div>

  <div class="col-md-8">
    <p>{{product.description}}</p>
  </div>
</div>

<a href="/admin/products">products page</a>