<div class="row">
  <div class="col-md-12 d-flex align-items-end">
  <h1>Users Page</h1>
  <a class="ml-auto text-dark mb-2" href="/admin/products">Products Page</a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">role</th>
      <th scope="col">orders</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
      <td><a class="text-dark" href="/admin/users/{{this.id}}/orders">view orders</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>