<div class="row">
  <h1>Users Page</h1>
  <h4><a href="/admin/products">Products Page</a></h4>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">role</th>
      <th scope="col">orders</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
      <td><a href="/admin/users/{{this.id}}/orders">orders</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>