{
  "include": [
    "controllers/userController.js",
    "controllers/productController.js",
    "controllers/cartController.js",
    "controllers/orderController.js",
    "controllers/adminController.js"
  ]
}